canvas {
  border: 1px solid black;
  width: 512px;
  height: 512px;
}

.drawingcanvas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drawingcanvas button {
  margin-top: 10px;
}
